SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
HOODI_RPC_URL=https://rpc.hoodi.example
HOODI_CHAIN_ID=560048
PRIVATE_KEY=19b25680c2dbea16138583afba8abaa9584221904b6b1caa6d8717bef889cd68
ETHERSCAN_API_KEY=Z2RJIVKS7SVCDHBHM52Z9X4DJIRWWDU6AE
ROYALTY_RECEIVER=0x2aF0c85799cFca053FFd2326172Bd34BD0CDBe87
